.landing-container {
  background: #eaf6ff;
  height: 100vh;
  overflow: hidden;
}

.hero-section {
  margin-top: 80px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  color: #666;
  font-size: 1.1rem;
  max-width: 400px;
}

.hero-img {
  width: 90%;
  max-width: 500px;
}
